body{
    color: #40514E;
    margin:0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin:50 px auto 0 auto;
    font-family: Arial, Helvetica, sans-serif, cursive
}

h2 {
    color: #66BFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif
}

p{
    line-height: 2;
}

hr{
    border: dotted #d3d6d6 6px;
    border-bottom:none;
    width: 4%;
}

.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle{
    margin: 100px 0;
    background-color: white;
}

.bottom{
    background-color: white;
}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro{
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left:300px;
    top:400px;
}

.bul-img{
    width: 40%;
    float: left;
    margin-right: 30px;
    margin-top: 40px;
}

.bul2-img{
    width: 25%;
    float: right;
    margin-right: 30px;
}

ul.myUL {
    display: inline-block;
    text-align: left;
  }

.button {
    background-color: #66BFBF;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }